@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --hover-scale-for-links: 1.2;
  --hover-transition: transform 0.7s ease, color 0.7s ease;
  --hover-scale-for-imgs: 1.1;
}

/* Указываем box sizing */
html{
  font-size: 16px;
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.body-no-scroll {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button{
  background-color: inherit;
  border: none;
  cursor: pointer;
}

header{
  background-image: linear-gradient(0.25turn, #343333, #484848, #282828);
  display: flex;
  justify-content: center;
}

.container{
  padding: 21px 0 8px;
  margin: 0 17px;
  width: clamp(390px, 80vw, 1150px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  padding-top: 12px;
  padding-bottom: 19px;
}

.logo{
  min-width: 267px;
  max-height: 49px;
}

.nav {
  color: #FFFDFA;
  font-size: 24px;
  font-weight: 400;
  margin-top: 29px;
  margin-bottom: 20px;
  transition: var(--hover-transition);
  text-decoration: none;
}

.nav:hover{
  color: #dcdde1;
  transform: scale(var(--hover-scale-for-links));
}

.search-container{
  display: flex;
  justify-content: center;
}

.image-search-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: clamp(350px, 53%, 762px);
  height: clamp(137px, 20.55vw, 296px);
  flex-direction: column;
  margin-top: clamp(43px,  4.50vw, 65px);
  margin-bottom: clamp( 42px, 7vw, 101px);
}

h1{
  font-size: clamp(24px, 4vw, 64px);
  font-weight: 700;
}

.highlight{
  color: #F17900;
}

form{
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}

.search-input{
  width: 100%;
  background-color: #3939390D;
  border: none;
  padding: 22px 16px;
  border-radius: 16px;
}

input::placeholder{
  color:#C4C4C4;
  font-family: "Montserrat";
}

.search-button{
  position: absolute;
  top: 16px;
  right: 16px;
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contant-container{
  display: flex;
  justify-content: center;
  margin-bottom:clamp(10px, 10vw, 147px);
}

.content{
  display: flex;
  justify-content: center;
  position: relative;
  width: clamp(351px, 80vw, 909px);
  scroll-margin-top: 50px ;
}

.gallery-content{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(16px, 1.8vw, 26px);
  scroll-margin-top: 50px;
}

.blur{
  filter: blur(5px);
  transition: filter 0.3s ease;
  pointer-events: none;
}

.content_img{
  height:clamp(180px, 17vw, 244px);
  width: 285px;
  object-fit: cover;
  cursor: pointer;
  transition: var(--hover-transition);
}

.content_img:hover{
  transform: scale(var(--hover-scale-for-imgs));
}

.footer{
  width: 100%;
  height: 374px;
  background-image: linear-gradient(00.25turn, #343333, #484848, #282828);
  position: relative;
}

.footer-container{
  min-width: 100%;
}

.footer-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: clamp(61px, 6.6vw, 95px);
  padding-right: clamp(65px, 6.6vw, 95px);
  padding-top: clamp(33px, 5.55vw, 80px);
}


.copyright p{
  color: #FFFFFF99;
  margin-left: clamp(23px, 5.2vw, 75px);
}

.gallery-info{
  font-size: 14px;
  color: #FFFFFF99;
  max-width: 248px;
  margin: 23px 0;
  line-height: 22px;
}

.links{
  display: flex;
  margin-bottom: 30px;
}

.links a{
  margin-right: 12px;
}

.links a img {
  transition: var(--hover-transition); 
}

.links a img:hover{
  transform: scale(var(--hover-scale-for-links));
}

.title{
  text-transform: uppercase;
  line-height: 18px;
  font-size: 18px;
  color: #E0A449;
  margin-bottom: 26px;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-list li a {
  color: #FFFFFF99;
  display: inline-block;
  font-size: 20px;
  line-height: 19px;
  font-weight: 400;
  transition: var(--hover-transition);
}

.footer-list li a:hover{
  transform: scale(var(--hover-scale-for-links));
  color: #dcdde1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(371px, 76vw, 1097px);
  height: clamp(432px, 37.2vw, 537px);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content{
  display: flex;
  flex-direction: row;
  position: relative;
  scroll-margin-top: 245px;
}

.modal-close{
  position: absolute;
  right: 0;
  margin: clamp(6px, 1vw, 14px);
}

.modal_btn{
  background-color: #F17900;
  border-radius: 29px;
  width: clamp(30px, 4vw, 57px);
  height: clamp(30px, 4vw, 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-modal{
  width: clamp(288px, 50vw, 724px);
  height: clamp(250px, 37vw, 534px);
  object-fit: cover;
}

.hidden{
  display: none;
}

.error-message{
  color: red;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 1040px){
  .footer-list{
    display: none;
  }
}

@media (max-width: 700px){
  .footer{
    height: 583px;
  }

  .footer-information{
    flex-direction: column;
  }

  .links{
    margin-bottom: 26px;
  }

  .title{
    margin-bottom: 34px;
  }

  .copyright p{
    margin-top: 36px;
  }
}

@media (max-width: 390px) {
  .content_img{
    width: 347px;
  }
}
