:root{
  --hover-scale-for-links: 1.2;
  --hover-transition: transform 0.7s ease, color 0.7s ease;
  --hover-scale-for-imgs: 1.1;
  --container-padding: 21px 0 8px;
  --container-margin: 0 17px;
  --container-width: clamp(390px, 80vw, 1150px);
  --header-logo-pt: 12px;
  --header-logo-pb: 19px;
  --logo-width: 267px;
  --logo-height: 49px;
  --nav-font-size: 24px;
  --nav-font-weight: 400;
  --nav-mt: 29px;
  --nav-mb: 20px;
  --imgss-w: clamp(350px, 53%, 762px);
  --imgss-h: clamp(137px, 20.55vw, 296px);
  --imgss-mt: clamp(43px,  4.50vw, 65px);
  --imgss-mb: clamp( 42px, 7vw, 101px);
  --h1-fs: clamp(24px, 4vw, 64px);
  --h1-fw: 700;
  --form-w: 100%;
  --search-input-w: 100%;
  --search-input-p: 22px 16px;
  --search-input-r: 16px;
  --search-b-top: 16px;
  --search-b-right: 16px; 
  --search-b-w: 42px;
  --search-b-h: 42px;
  --content-container-mb: clamp(10px, 10vw, 147px);
  --content-w: clamp(351px, 80vw, 909px);
  --content-smt: 50px;
  --gall-cont-gap: clamp(16px, 1.8vw, 26px);
  --gall-cont-smt: 50px;
  --blur: blur(5px);
  --content-img-h: clamp(180px, 17vw, 244px);
  --content-img-w: 285px;
  --footer-w: 100%;
  --footer-h: 374px;
  --footer-inf-pl: clamp(61px, 6.6vw, 95px);
  --footer-inf-pr: clamp(65px, 6.6vw, 95px);
  --footer-inf-pt: clamp(33px, 5.55vw, 80px);
  --copyright-ml: clamp(23px, 5.2vw, 75px);
  --gall-info-fs: 14px;
  --gall-info-mw: 248px;
  --gall-info-m: 23px 0;
  --gall-info-lh: 22px;
  --links-mb: 30px;
  --links-mr: 12px;
  --title-lh: 18px;
  --title-fs: 18px;
  --title-mb: 26px;
  --footer-list-gap: 20px;
  --footer-list-li-a-fs: 20px;
  --footer-list-li-lh: 19px;
  --footer-list-li-fw: 400;
  --modal-overlay-top: 0;
  --modal-overlay-left: 0;
  --modal-overlay-w-and-h: 100%;
  --modal-overlay-z-index: 998;
  --modal-t-and-l: 50%;
  --modal-w: clamp(371px, 76vw, 1097px);
  --modal-h: clamp(432px, 37.2vw, 537px);
  --modal-z-index: 1000;
  --modal-cont-smt: 245px;
  --modal-cls-r: 0;
  --modal-cls-m: clamp(6px, 1vw, 14px);
  --modal-btn-br: 29px;
  --modal-btn-w: clamp(30px, 4vw, 57px);
  --modal-btn-h: clamp(30px, 4vw, 58px);
  --img-modal-w: clamp(288px, 50vw, 724px);
  --img-modal-h: clamp(250px, 37vw, 534px);
  --err-message-fs: 24px;
  --footer-mob-h: 583px;
  --links-mob-mb: 26px;
  --title-mob-mb: 34px;
  --copyright-mob-mt: 36px;
  --cont-img-mob-w: 347px;
  --fav-icon-fs: 25px;
  --fav-icon-top: 5px;
  --fav-left: 10px;
  --nav-block-top: 0;
  --nav-block-right: 0;
  --nav-block-width: 100vw;
  --nav-block-heght: 100vh;
  --nav-block-z-index: 1000;
}